<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- 加载导航坐标参数 -->
  <rosparam file="$(find state_machine)/param/waypoints.yaml" command="load" />
  
  <!-- 启动主状态机 -->
  <node pkg="state_machine" type="main_state_machine.py" name="state_machine" output="screen" />

  <!-- 启动可视化SMACH（可选） -->
  <node pkg="smach_viewer" type="smach_viewer.py" name="smach_viewer" output="screen" />

  <node pkg="rviz" type="rviz" name="rviz" output="screen"
        args="-d $(find tiago_2dnav)/config/rviz/navigation.rviz" />
</launch>
